.flash-container {
  position: fixed;
  top: $base-spacing*2;
  right: $base-spacing;
  z-index: $z-index-overlay;
}

.flash {
  position: relative;
  margin-bottom: $small-spacing;
  padding: $small-spacing;
  font-size: $large-font-size;
  color: white;
  animation: bounceInRight;
  animation-duration: $base-duration;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: skewX(-12deg);
    z-index: $z-index-negative;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.flash--success:before {
  background-color: $green;
}

.flash--error:before {
  background-color: $red;
}
