.flash-container {
  position: fixed;
  top: $base-spacing*2;
  right: $base-spacing;
  z-index: $z-index-overlay;
}

.flash {
  margin-bottom: $small-spacing;
  padding: $small-spacing;
  font-size: $large-font-size;
  color: white;
  border-radius: $base-border-radius;
  animation: bounceInRight;
  animation-duration: $base-duration;

  &:last-child {
    margin-bottom: 0;
  }
}

.flash--success {
  background-color: $green;
}

.flash--error {
  background-color: $red;
}
