.site-header {
  margin: $base-spacing;
}

.site-header__logo {
  display: block;
  max-height: 125px;
  margin: 0 auto $base-spacing*2 auto;
}

.site-header__tagline {
  font-size: $large-font-size;
  text-align: center;
  line-height: 1.35;
}
