body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 $small-spacing 0;
}

a {
  color: $base-font-color;
  transition: color $base-duration $base-timing;

  &:hover,
  &:focus {
    color: tint($base-font-color, 25%);
  }
}
