// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Spacing
$base-spacing: 2em;
$small-spacing: $base-spacing / 2;

// Typography
$base-font-family: 'Karla', sans-serif;
$base-font-size: 1em;
$large-font-size: 1.35em;

// Colors
$light-gray: #F4F4F4;
$dark-gray: #333;
$green: #27ae60;
$red: #e74c3c;

$base-font-color: $dark-gray;

// Z-indexes
$z-index-negative: -1;
$z-index-1: 1;
$z-index-2: 9;
$z-index-overlay: 999;

// Other sizes
$container-max-width: 1200px;

// Borders
$base-border-radius: 6px;

// Transitions & animations
$base-duration: 150ms;
$base-timing: ease-out;
