---
title: Color List
---

<header class="site-header">
  <p class="site-header__tagline">A collection of colors. Clicking the colors will copy the HEX code.</p>
  <a target="_blank" href="http://samuellie.se" class="site-header__link">samuellie.se</a>
</header>

<main class="colors">
  <% sorted_colors = data.colorlist.colors.sort_by { |color| color.hex } %>
  <% sorted_colors.each do |color| %>
    <div
      class="
            colors__color
            <% if color.textColor %>
              colors__color--<%= color.textColor %>-text
            <% end %>"
      style="background-color:#<%= color.hex %>"
      data-color="<%= color.hex %>">
    </div>
  <% end %>
</main>
